DEFAULT pxeboot
TIMEOUT 20
PROMPT 0
LABEL pxeboot 
	kernel install/{{ okd.kernel_file }}
	append initrd=http://{{ infra.ipaddr }}:{{ infra.http_port }}/install/{{ okd.initramfs_file }} coreos.live.rootfs_url=http://http://{{ infra.ipaddr }}:{{ infra.http_port }}/install/{{ okd.rootfs_file }} coreos.inst.install_dev={{ disk }} coreos.inst.ignition_url=http://{{ infra.ipaddr }}:{{ infra.http_port }}/ignition/{{ item.role }}.ign

